.chat__main
  .main__header
    .main__header__left__box
      .main__header__left__box__current__group
        wahudashi
        .main__header__left__box__member__list
          Member : itadakimasu
    .main__header__edit__btn
      Edit
  .messages
    .message
      .message__upper__info
        .message__upper__info__talker
          sanuki
        .message__upper__info__date
          2019/11/09(Sat) 16:26:30
      .message__text
      hogehogehogehoge
  .form
    .form__new__input
      %input#message__content.input__box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
      %label.input-box__image{for: "message_image"}
        %i.fa.fa-image
        %input#message_image.input-box__image__file{name: "message[image]", type: "file"}
      %input.submit__btn{name: "commit", type: "submit", value: "Send"} 
