.wrapper {
  width: 100vw;
  font-size: 1rem;
  font-weight: lighter;
  display: flex;
  .side-bar {
    width: 300px;
    color: #ffffff;
    .header {
      background-color: #253141;
      height: 100px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      &__lists {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        font-weight: bold;
        .fa {
          margin-left: 10px;
          font-size: 16px;
          list-style: none;
        }
      }
    }
    .groups {
      overflow: scroll;
      height: calc(100vh - 105px);
      background-color: #2f3e51;
      padding:20px 20px 0;
      text-decoration: none;
      .group {
        margin-bottom: 40px;
        &__name {
          color: white;
          font-size: 15px;
          margin-bottom: 5px;
          text-decoration: none;
        }
        &__message {
          color: white;
          font-size: 11px;
          text-decoration: none;
          }
        }  
      }
    }
  }
  .fa{
    color: white;
  }
  